.course {
   margin: 8px 0;
   padding: 0 12px;
}

.allCourses-container {

   .user-footer {
      display: flex;
      justify-content: center;
      font-size: 16px;
   }
}

.allCourses-wrapper {
   height: 80vh;
   display: flex;
   justify-content: center
}